name: PR Check

on:
  - pull_request

jobs:
  check:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./custom-backend-ops
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          pip3: install -r requirements.txt

      - name: Run tests
        run: |
          pytest test/test.py
